body{
    font-family: 'Roboto', sans-serif !important;
}

$family-sans-serif: 'Roboto', sans-serif ;

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');
@import '../../node_modules/bulma/bulma.sass';